.image-container {
    position: relative;
    display: inline-block;
}

.pop-up-image {
    transition: transform 0.4s ease-in-out;
}

.image-container:hover .pop-up-image {
    transform: scale(1.1);
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}